[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/vim-obsession"]
	path = vim/pack/plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/vim-graphql"]
	path = vim/pack/plugins/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "vim/pack/plugins/start/vim-caser"]
	path = vim/pack/plugins/start/vim-caser
	url = https://github.com/arthurxavierx/vim-caser.git
[submodule "vim/pack/plugins/start/goyo-vim"]
	path = vim/pack/plugins/start/goyo-vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/pack/plugins/start/vim-dispatch"]
	path = vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/pack/plugins/start/vim-mustache-handlebars"]
	path = vim/pack/plugins/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "config/sublime-text/Packages/Tab Filter"]
	path = config/sublime-text/Packages/Tab Filter
	url = https://github.com/vilnar/sublime-tabfilter
[submodule "config/sublime-text/Packages/sublimetext-translate"]
	path = config/sublime-text/Packages/sublimetext-translate
	url = https://github.com/vilnar/SublimeText-Translate
[submodule "vim/pack/plugins/start/vimcomplete"]
	path = vim/pack/plugins/start/vimcomplete
	url = https://github.com/girishji/vimcomplete
[submodule "vim/pack/plugins/start/fzf"]
	path = vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/pack/plugins/start/fzf.vim"]
	path = vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/plugins/start/vim-fern"]
	path = vim/pack/plugins/start/vim-fern
	url = https://github.com/lambdalisue/vim-fern.git
[submodule "vim/pack/plugins/start/bufexplorer"]
	path = vim/pack/plugins/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/pack/plugins/start/emmet"]
	path = vim/pack/plugins/start/emmet
	url = https://github.com/mattn/emmet-vim.git
